div.customoptiongroup {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.non-selectable .v-table-body-wrapper table tbody tr.v-selected.v-table-row-odd{
        background: #eff0f1 !important;
        background-image: none !important;
        color: #222 !important;
        text-shadow: inherit !important;
}
.non-selectable .v-table-body-wrapper table tbody tr.v-selected.v-table-row{
        background: #fff !important;
        background-image: none !important;
        color: #222 !important;
        text-shadow: inherit !important;
}
.non-selectable .v-table-body-wrapper table tbody tr.v-selected.v-table-row .v-table-cell-content,
.non-selectable .v-table-body-wrapper table tbody tr.v-selected.v-table-row-odd .v-table-cell-content{
    border-left: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
}

.non-selectable .v-table-body-wrapper table tbody tr.v-selected.v-table-row.v-table-focus,
.non-selectable .v-table-body-wrapper table tbody tr.v-selected.v-table-row-odd.v-table-focus{
  outline: 0px solid #197de1;
  outline-offset: 0px; 
}
